.home {
  align-items: center;
  display: flex;
  height: calc(100vh - 160px);
  justify-content: space-between;
  margin: 80px auto;
  width: 90%;
}
.soundToggles {
  box-sizing: border-box;
  text-align: left;
}
